$width-card: 304px;
$height-card: 228px;
$margin-left: 70px;

.restaurants {
    padding-top: 45px;
}

.cards {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .card-restaurant {
        &:nth-child(n+2) {
            margin-left: $margin-left;
        }
    }
}

.card-restaurant {
    width: $width-card;
    height: auto;
    .card-restaurant-image {
        height: $height-card;
    }
    .card-restaurant-detail {
        padding-top: 15px;
        height: 116px;
        .card-restaurant-title {
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 1px;
        }
        .card-restaurant-meta {
            padding-top: 16px;
        }
    }
}

.category {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    float: left;
    width: 152px;
}

.open {
    float: left;
    width: 152px;
    .dot {
        font-size: 40px;
        color: #008EA4;
    }
    .open-text {
        color: #757575;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
}