$width-card: 500px;
$height-card: 228px;
$margin-left: 70px;

.restaurants {
    padding-top: 45px;
}

.cards {
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.card-restaurant {
    width: $width-card;
    height: auto;
    flex-basis: 25%;
    -ms-flex: auto;
    position: relative;
    padding: 40px 20px 20px 20px;
    box-sizing: border-box;
    .card-restaurant-image {
        opacity: 1;
        height: $height-card;
        transition: .5s ease;
        &:hover {
            opacity: 0.5;
        }
    }
    .card-restaurant-detail {
        padding-top: 15px;
        height: 116px;
        .card-restaurant-title {
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 1px;
        }
        .card-restaurant-meta {
            padding-top: 16px;
        }
    }
}

.category {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    float: left;
    width: 152px;
}

.open {
    float: left;
    width: 152px;
    .dot {
        font-size: 40px;
        color: #008EA4;
    }
    .dot-closed {
        font-size: 40px;
        color: #FF3548
    }
    .open-text {
        color: #757575;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
}

.load-more {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-enabled {
        width: 416px;
    }
}

@media(max-width: 1719px) {
    .card-restaurant {
        flex-basis: 33.33%;
    }
}

@media(max-width: 1315px) {
    .card-restaurant {
        flex-basis: 50%;
    }
}

@media(max-width: 788px) {
    .card-restaurant {
        flex-basis: 100%;
        justify-content: center;
    }
}